:root {
  --document-color: aliceblue;
  --link-color: rgba(0, 150, 250, 1);
  --link-color-hover: black;
  --highlight-color: rgba(220, 220, 0, 1);
  --highlight-dark-color: rgba(190, 190, 0, 1);
  --main-color: rgba(50, 50, 150, 1);
  --half-main-color: rgba(50, 50, 150, 0.75);
  --block-color: rgba(50, 50, 150, 0.15);
  --half-block-color: rgba(50, 50, 150, 0.07);
  --none-color: rgba(50, 50, 150, 0.00);
}

/*
  GENERAL
*/

body {
  background-color: var(--document-color);
}

input,
select {
  font-family: 'Source Code Pro', monospace;
  border: 2px solid var(--block-color);
  padding: .1em .5em;
  border-radius: 4px;
}
code {
  white-space: nowrap;
  font-family: 'Source Code Pro', monospace;
}
h1,
h2,
h3 {
  font-family: 'Source Serif Pro', serif;
  color: var(--main-color);
  font-weight: 400;
}

.highlight {
  border-bottom: 0.2em solid var(--highlight-color);
  box-shadow: inset 0px -.2em 0px 0px var(--highlight-color);
}

h4,
p,
a,
button {
  font-size: 1em;
  line-height: 1.2em;
  color: var(--main-color);
  font-family: 'Source Sans Pro', sans-serif;
}
p.closer {
  margin-top: -.5em;
}
p.small {
  font-size: 0.85em;
}
p.line-height {
  line-height: 1.9em;
}
.nw {
  white-space: nowrap;
}

a.btn,
button.btn {
  background-color: var(--link-color);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}
a.btn:hover,
button.btn:hover {
  background-color: var(--link-color-hover);
}
a.btn:active,
button.btn:active {
  position: relative;
  top: 2px;
}
a.btn.lite,
button.btn.lite {
  background-color: var(--document-color);
  color: var(--half-main-color);
  border: 2px solid var(--half-main-color);

}
a.btn.lite:hover,
button.btn.lite:hover {
  background-color: var(--document-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
a.link {
  color: var(--link-color);
}

a.link:hover {
  color: var(--link-color-hover);
}
a.link:active
 {
  position: relative;
  top: 2px;
}
a.link.combined {
  text-decoration: none;
}




/*
  LAYOUT
*/

.hide {
  display: none;
}

.container {
  margin: auto;
  max-width: 60em;
  padding-left: .5em;
  padding-right: .5em;
}

.part {
  margin-bottom: 5em;
}
.part.timeline {
  margin-bottom: 3em;
}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  clear: both;
}
.footer { margin-top: 10em;}
/*
  INTRO
*/

.intro {}


/*
  TIMELINE
*/

.timeline .container {
margin-top: 1em;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: auto;
}

.timeline .item {
  width: 15%;
  text-align: center;
  position: relative;
}
.timeline .container p,
.timeline .container h4 {
  margin: 0;
}

.timeline .item-person {
  display: block;
  margin-bottom: .5em;
  border-radius: 4px;
  padding: 1em 0;
  background-color: var(--block-color);
  cursor: move;
  border: 2px solid var(--none-color);
}

.is-highlighted.item-person,
.is-highlighted.person {
  border: 2px solid var(--highlight-dark-color);
}

.timeline .item-person.is-ghosted {
  background-color: rgba(0, 0, 0, 0);
  opacity: .5;
  border: 2px dashed var(--main-color);

}

.timeline .no {
  background-color: var(--half-block-color);
  display: block;
  border-radius: 4px;
  padding: 0.5em 0;
}

.timeline .label {
  display: block;
  bottom: -0.5em;
  margin-top: .25em;
}


@media screen and (max-width: 28em) {
  .timeline .label {
    transform: rotate(-45deg);
    text-align: right;
    width: auto;
    margin-top: 1em;

  }
}

/*
  PEOPLE
*/

.people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: .5em;

}

@media screen and (max-width: 40em) {
  .people {
    grid-template-columns: 1fr 1fr;

  }
}

.people .person p
  {
    margin: 0;
  }



/*
  PERSON
*/


.person .link.delete {
  position: absolute;
  right: 0em;
  top: 0em;
  border-radius: 100%;
  padding: 0.3em;
}

.person {
  padding: 1em;
  background-color: var(--block-color);
  border: 2px solid var(--none-color);
  border-radius: 4px;

  margin-bottom: .5em;
  position: relative;
}
.person.empty {
  background-color: var(--half-block-color);
  border: 2px solid var(--none-color);
}
.person h4 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
}


/*
  OPTIONAL & SETTINGS
*/
input,
select {
  font-size: 1em;
}
.settings input[type=number] {
  width: 3.5em;
}

/*
  RESULTS
*/
.results .notes {
  margin-top: 2em;
}
